<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,
  initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  


<div class="navbar">
  

<a class="tag">cvVkvjv📕</a>
<a (click)="login()" class="font">eB wK‡b †KD †`Dwjqv nq bv </a>
  <span class="menu2">
    
  <a  *ngIf="loginvisible" (click)="login()">Login</a>
  <a *ngIf="logoutvisible" (click)="logout()">Logout</a>
  <a (click)="home()">Home</a>&nbsp;&nbsp;
</span>
</div>

<router-outlet></router-outlet>
</body>
</html>

<!-- ⌛ -->